.loginPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .loginHeader {
	margin-bottom: 20px; /* Add some space below the header */
  }
  
  .loginPage form {
	width: 300px;
  }
  
  .loginPage form div {
	margin-bottom: 15px;
  }
  
  .loginPage form label {
	display: block;
	margin-bottom: 5px;
  }
  
  .loginPage form input {
	width: 100%;
	padding: 8px;
	font-size: 16px;
  }
  
  .loginPage form button {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background-color: #ff1e00;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  
  .loginPage form button:hover {
	background-color: #000000;
  }
  