/* home.css */
.homePage {
  background-color: rgb(23, 23, 23);
  padding: 20px;
}

.carousel{
  z-index: 0;
}

.homeTitle,
.fantasyTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  background-color: black;
  color: rgb(255, 255, 255);
}

.flex-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


hr.thick-line {
  border: none;
  height: 10px; /* Adjust the height as needed */
  background-color: #ff1900;
}

.homefixtures{
  display: flex;
  flex-direction: column;
}
.flex-child {
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  color: white;
  flex: 1;
  background-color: #f43d28;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .homePage {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .homeTitle,
  .fantasyTitle {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust margin for smaller screens */
  }

  hr.thick-line {
    height: 5px; /* Adjust the height for smaller screens */
  }

  .flex-child {
    width: 100%;
    margin-right: 0;
    margin-top: 10px; /* Adjust margin for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}